@font-face {
  font-family: 'Everett';
  src: url(../font/Everett-Regular.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Basier';
  src: url(../font/basiercircle-regular-webfont.woff2);
  src: url(../font/basiercircle-regular-webfont.woff);
  src: url(../font/basiercircle-regular-webfont.ttf);
  font-weight: 300;
  font-style: normal;
}


/* ===================================
          xs : 576px DOWN
====================================== */

@media only screen and (max-width:576px) {
  
  /* HEADER */
  .header_text{font-family:'Basier';font-size: 16px; line-height: 20px;  padding-left: 15px;  padding-right: 15px;;}
  .text-courant{font-family:'Basier',sans-serif;font-size: 16px;line-height: 20px;}
  
  /* PAGE PROJET */
  .projet_text_titre{font-family: 'Everett', sans-serif;text-align:left;font-size: 50px;line-height: 55px;;letter-spacing:-2px;}
  .projet_text_description{font-family: 'Basier',sans-serif;font-size: 15px;line-height: 20px;}
  .projet_text{font-family:'Basier',sans-serif;font-size: 16px;line-height: 20px;}
  
  
  /* INDEX */
  .index_titre_projet{font-family: 'Everett', sans-serif; font-size:60px; line-height:60px;letter-spacing:-3px }
  .index_description_projet{font-family:'Basier', sans-serif; font-size:16px; line-height:20px;}
  .index_filtre{font-family:'Basier', sans-serif; font-size:18px; line-height:20px;padding-top:10px;}
  .mantra{font-family: 'Everett', sans-serif;font-size: 45px; line-height: 44px;letter-spacing: -2px; padding: 40px;}
  }
  

/* ===================================
          xs : 576px UP
====================================== */

@media only screen and (min-width:576px) {
  
  /* HEADER */
  .header_text{font-family:'Basier';font-size: 16px; line-height: 20px;  padding-left: 15px;  padding-right: 15px;;}
  .text-courant{font-family:'Basier',sans-serif;font-size: 16px;line-height: 20px;}
  
  /* PAGE PROJET */
  .projet_text_titre{font-family: 'Everett', sans-serif;text-align:left;font-size:100px; line-height:80px;letter-spacing:-2px;}
  .projet_text_description{font-family: 'Basier',sans-serif;font-size: 15px;line-height: 20px;}
  .projet_text{font-family:'Basier',sans-serif;font-size: 16px;line-height: 20px;}
  
  
  /* INDEX */
  .index_titre_projet{font-size:110px; line-height:90px;letter-spacing:-4px }
  .index_description_projet{font-family:'Basier', sans-serif; font-size:20px; line-height:40px;}
  .index_filtre{font-family:'Basier', sans-serif; font-size:18px; line-height:20px;padding-top:10px;}
  .mantra{font-family: 'Everett', sans-serif;font-size: 70px; line-height: 60px;}
  }
  




/* ===================================
          1200px UP
====================================== */

@media only screen and (min-width: 1200px) {


  /* HEADER */
  .header_text{font-family:'Basier';font-size: 20px; line-height: 30px;  padding-left: 15px;  padding-right: 15px;;}
  .text-courant{font-family:'Basier',sans-serif;font-size: 20px;line-height: 23px;}
  
  /* PAGE IDENTITÉ */
  .text-separator{font-family: 'Everett', sans-serif;text-align:left;font-size: 90px;line-height: 90px;letter-spacing:-2px;text-transform: uppercase;}
  
  /* PAGE PROJET */
  .projet_text_titre{font-family: 'Everett', sans-serif;text-align:left;font-size: 110px;line-height: 95pxauto;letter-spacing:-4px;}
  .projet_text_description{font-family: 'Basier',sans-serif;font-size: 22px;line-height: 24px;}
  .projet_text{font-family:'Basier',sans-serif;font-size: 18px;line-height: 23px;}
  
  
  /* INDEX */
  .index_titre_projet{font-family: 'Everett', sans-serif; font-size:100px; line-height:80px;letter-spacing:-3px }
  .index_description_projet{font-family:'Basier', sans-serif; font-size:22px; line-height:50px;}
  .index_filtre{font-family:'Basier', sans-serif; font-size:18px; line-height:20px;}
  .mantra{font-size: 98px;line-height: 85px;letter-spacing: -7px}
  
  
  /* NOTRE METHODO */
  .methodo_chiffre{font-family: 'Everett', sans-serif;text-align:left;font-size: 150px; line-height: auto;}
  .methodo_titre{font-family: 'Everett', sans-serif;text-align:left;font-size: 60px; line-height: 55px;text-transform: uppercase;letter-spacing: -3px;}
  .nous_text{font-size: 12px;line-height: 29px;}
  }
  
  

.row-w{
  width:100%;


}

.logo_svg{
  width:200px;
}
@media(max-width:1280px){

  .grid.grid-6col li { width: 100%; }
  .grid.grid-6col li.grid-item-4 { width: 100%; }

  .logo_svg {width:150px}

