@font-face {
  font-family: 'Everett';
  src: url(../font/Everett-Regular.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Basier';
  src: url(../font/basiercircle-regular-webfont.woff2);
  src: url(../font/basiercircle-regular-webfont.woff);
  src: url(../font/basiercircle-regular-webfont.ttf);
  font-weight: 300;
  font-style: normal;
}

.header_text{
  font-family:'Basier';
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-title{
  font-family: 'Everett';
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: -2px;

}



/* NOTE: SCROLL images */

img{
  width: 10%;
}

.part2{
  position: absolute;
  top:100%;
  right: 3%;
  width: 15%;
}
.part3{
  position: absolute;
  top:160%;
  right: 5%;
  width: 15%;
}
.part4{
  position: absolute;
  top:160%;
  right: 15%;
  width: 20%;
}
.part5{
  position: absolute;
  top:190%;
  right: 5%;
  width: 10%;
}

.part6{
  position: absolute;
  top:240%;
  right: 5%;
  width: 10%;
}



.text-separator{font-family: 'Everett', sans-serif;text-align:left;font-size: 90px;line-height: 90px;letter-spacing:-2px;text-transform: uppercase;}


/* NOTE: OK  */.text-very-small {font-size:18px; line-height:25px; font-weight: 300;font-style: italic;padding-top:40px}
/* NOTE: OK  */.text-small {font-size:22px; line-height:50px; font-weight: 300}
/* NOTE: OK  */.text-nomprojet{font-size:60px; line-height:68px; font-weight:450;letter-spacing:-3px }
/* NOTE: OK  */.text-titre{font-size:100px; line-height:90px; font-weight:600;letter-spacing:-3px;}
/* NOTE: OK  */.text-courant-info{font-size:18px; line-height:25px;font-weight:400;}
/* NOTE: OK  */.text-courant{font-family: 'Basier';font-size:20px; line-height:28px;letter-spacing: -1px;}
/* NOTE: OK  */.text-logo{font-size:30px; line-height:0px;font-weight:500;text-align:left;}
/* NOTE: OK  */.text-PN{font-size:32px; line-height:30px;font-weight:400;;}
/* NOTE: OK  */.text-footer{font-size:50px; line-height:40px;font-weight:400;color:white;decoration:none}
/* NOTE: OK  */.text-index{font-size:70px; line-height:40px;font-weight:400;}
/* NOTE: OK  */.text-infos{font-size:30px; line-height:0px;font-weight:500;text-align:right;}


/* ===================================
                 xs
====================================== */

@media(max-width:1280px){

/* NOTE: OK  */.text-very-small {font-size:15px; line-height:20px; font-weight: 300;font-style: italic; padding-top:40px}
/* NOTE: OK  */.text-small { font-size:12px; line-height:30px }
/* NOTE: OK  */.text-titre{font-size:55px; line-height:48px; font-weight:400;}
/* NOTE: OK  */.text-courant{font-size:18px; line-height:26px;font-weight:350;}
/* NOTE: OK  */.text-logo{font-size:25px;line-height:0px ;font-weight:500;text-align:left;}
/* NOTE: OK  */.text-PN{font-size:20px; line-height:40px;font-weight:400;}
/* NOTE: OK  */.text-footer{font-size:35px; line-height:40px;font-weight:400;;}
/* NOTE: OK  */.text-nomprojet{font-size:40px; line-height:35px; font-weight:450;letter-spacing: -1px}
/* NOTE: OK  */.text-infos{font-size:25px;line-height:0px ;font-weight:500;text-align:right;}

.projetintro{padding-top:20px }

}



.row-w{
  width:100%;


}

.logo_svg{
  width:200px;
}
@media(max-width:1280px){

  .grid.grid-6col li { width: 100%; }
  .grid.grid-6col li.grid-item-4 { width: 100%; }

  .logo_svg {width:150px}


  @media(max-width:769px){

    /* NOTE: OK  */.text-logo{font-size:25px;line-height:0px ;font-weight:500;text-align:left;}
        /* NOTE: OK  */.text-infos{font-size:25px;line-height:0px ;font-weight:500;text-align:right;}


  }
